<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfServiceExample.WEBService">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="WcfServiceExample.IWEBService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>